<!DOCTYPE html>
<html>
<head>
	<title>Welcome to 'Friend-Book'!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
	<h1>Welcome to the amazing and totally original 'Friend-Book'!</h1>	
	<div class="nav">
		<a href="/">Home</a>
		<a href="/wall">Visit the Wall</a>
		<a href="/database">Sample Database</a>
		<form action='/login' method='POST'>
			<table>
				<tr>
					<td><label for="email">Email:</label></td>
					<td><input type="text" placeholder='email' name="email" value="{{session['email']}}"></td>
					<td><input type="submit" value="Login"></td>
				</tr>
				<tr>
					<td><label for="password">Password:</label></td>
					<td><input type="password" placeholder='password' name="password"></form></td>
					<form action="/logout" method="POST">
					<td><input type="submit" value="Logout"></form></td>
				</tr>
			</table>
	</div>
	<div class="register">
		<div class="error">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class='flashes'>
		{% for message in messages %}
			<li>{{message}}</li>
		{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}

		</div>
		<h2 class="{{ session['status'] }}">Please Register</h2>
		<div class="registration_form {{ session['status'] }}">
	    <form action="/register" method="post">
	        <table>
	            <tr>
	                <td>
	                    <!-- first name_input -->
	                    <label for="first_name">First Name:</label>
	                </td>
	                <td>
	                    <input type="text" placeholder="first name" name="first_name" required>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <!-- last name_input -->
	                    <label for="last_name">Last Name:</label>
	                </td>
	                <td>
	                    <input type="text" placeholder="last name" name="last_name" required>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <!-- Email: -->
	                    <label for="email">Email:</label>
	                </td>
	                <td>
	                    <input type="text" placeholder="email"  name="email" required>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <!-- Password_input -->
	                    <label for="password">Password:</label>
	                </td>
	                <td>
	                    <input type="password" placeholder="password" name="password" required>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <!-- Password Confirmation -->
	                    <label for="cpassword">PW Confirm:</label>
	                </td>
	                <td>
	                    <input type="password" placeholder="confirm password" name="cpassword" required>
	                </td>
	            </tr>
	            <tr>
	            	<td></td>
	            	<td><input type="submit" value="Sign Up!"></td>
	            </tr>
	        </table>
	    </form> 
		</div>
		{% if 'user_id' in session %}
		<h4 class='fade_in slide_up fade_out'> {{ session['welcome'] }} </h4>
		{% endif %}
	</div>
	<p class="{{ session['status'] }}">Fill out this form to sign up for 'Friend-Book!'</p>

</body>
</html>