<!DOCTYPE html>
<html>
<head>
  <title>Friends</title>
</head>
<body>
	<h1>Welcome to the amazing and revolutionary 'Friend-Book'!</h1>
	<h2>Add a Friend</h2>
	<form action='/friends' method='POST'>
		<label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
		<label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
		<label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
		<input type="submit" value="Add">
	</form>
	<h2>These are all my friends!</h2>
	<h3><a href="/database">Click here to update a friend's information</a></h3>

{% for friend in all_friends: %}

	<p>ID: {{ friend['id'] }}</p>
	<p>First Name: {{ friend['first_name'] }}</p>
	<p>Last Name: {{ friend['last_name'] }}</p>
	<p>Occupation: {{ friend['occupation'] }}</p>
	<hr>

{% endfor %}

</body>
</html>